@page "/"

<PageTitle>Home</PageTitle>


<div class="d-flex justify-start flex-column">
    <h1>Welcome to Global5</h1>
    <MudButton Class="mt-2"
               Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.TwoTone.Add"
               Href="/relatorio">
        RELATÓRIO
    </MudButton>
</div>

